.navbar {
  border-radius: 0;
}

.signBtn {
  background-color: #7096c5;
  color: white;
}

.signBtn:hover {
  background-color: #39608f;
  text-decoration: none;
  color: white;
  cursor: pointer !important;
}

#navbarlogo {
  float: right;
}

#logo {
  width: 350px;
  margin-left: 200px;
}