#commentSection {
    width: 100%;
}

#comment-header {
    font-size: 40px;
}

#comment-list {
    margin-bottom: 30px;
}

.commentForm {
    display: flex;
    flex-direction: column;
}

#commentbtn {
    margin-top: 10px;
    width: 125px;
    position: relative;
    margin-right: none;
}

.commentTable {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    padding: 7px;
    margin-bottom: 10px;
}

table {
    width: 100%;
}

.textArea {
    border-radius: 8px;
}